.testimonial,
.testimonial-light {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 7% 7%;
  gap: 50px;
  width: 100%;
}
.testimonial-light {
  background-color: #eee;
  color: #000;
}
.testimonial_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonial h1,
.testimonial-light h1 {
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}
.testimonial h2,
.testimonial-light h2 {
  color: violet;
  font-weight: 400;
  cursor: pointer;
}
.testimonial hr,
.testimonial-light hr {
  width: 50%;
  border: 1.5px solid #fff;
  border-radius: 20px;
}
.testimonial-light hr {
  border: 1.5px solid #000;
}
.testimonial_flex,
.testimonial_flex-light {
  width: 100%;
  max-width: 600px;
  height: 250px;
  border-radius: 10px;
  box-shadow: -10px 10px 40px rgba(255, 255, 255, 0.12);
  position: relative;
  transition: all 0.5s ease-in-out;
}
.testimonial_flex-light {
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.12);
}
.testimonial_flex .testimonial_card,
.testimonial_flex-light .testimonial_card {
  height: fit-content;
  padding: 40px;
  color: #fff;
  box-sizing: border-box;
  line-height: 20px;
  position: relative;
  z-index: 1;
}
.testimonial_flex-light .testimonial_card {
  color: #000;
}
.testimonial_flex .testimonial_profile,
.testimonial_flex-light .testimonial_profile {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.testimonial_flex .testimonial_profile img,
.testimonial_flex-light .testimonial_profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid #fff;
}
.testimonial_flex-light .testimonial_profile img {
  border: 1px solid #000;
}
.testimonial_flex .testimonial_profile h3,
.testimonial_flex-light .testimonial_profile h3 {
  margin-bottom: 8px;
  font-size: 26px;
}
.testimonial_flex .testimonial_section,
.testimonial_flex-light .testimonial_section {
  width: 100%;
  padding-right: 60px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
.testimonial_flex-light .testimonial_section {
  background-color: #fff;
}
.testimonial_flex .testimonial_sidebar,
.testimonial_flex-light .testimonial_sidebar {
  width: 60px;
  height: 100%;
  box-sizing: border-box;
  padding: 15px 0;
  background-color: #e39ff6;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.testimonial_flex .testimonial_sidebar span,
.testimonial_flex-light .testimonial_sidebar span {
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 50%;
  color: #e39ff6;
  padding: 10px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}
.testimonial_flex .testimonial_card::before,
.testimonial_flex-light .testimonial_card::before {
  content: "";
  width: 110px;
  height: 110px;
  border-bottom-right-radius: 100%;
  position: absolute;
  top: 0;
  background-color: #e39ff6;
  left: 0;
  z-index: -1;
}
.testimonial_flex:hover,
.testimonial_flex-light:hover {
  transform: translate(-10px, -10px);
  cursor: pointer;
}
.testimonial_flex .testimonial_sidebar span:hover,
.testimonial_flex-light .testimonial_sidebar span:hover {
  background-color: #000;
}
@media (max-width: 768px) {
  .testimonial_flex .testimonial_profile h3,
  .testimonial_flex-light .testimonial_profile h3 {
    font-size: 16px;
    font-weight: 600;
  }
  .testimonial_flex .testimonial_profile p,
  .testimonial_flex-light .testimonial_profile p {
    font-size: 14px;
  }
  .testimonial_card p {
    font-size: 12px;
  }
}
